<a href="https://colab.research.google.com/github/rddelarosa/DSC1107/blob/main/LAB_FA_2_DSC1107.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
library(tidyverse)
data("starwars", package = "dplyr")

**Q1 — Dataset Inspection and Missing Values (5 points)**

- Display the structure of the dataset using glimpse(starwars).
- Identify:
  - number of observations
  - number of variables
- Compute the number of missing values in height, mass, and homeworld.

In [34]:
# Display structure using glimpse
glimpse(starwars)

# Get the number of rows and columns
cat("\nNumber of Observations:", nrow(starwars))
cat("\nNumber of Variables:", ncol(starwars),"\n")

# Calculate the sum of the missing values in height, mass and homeworld
starwars %>%
  summarise(
    na_height = sum(is.na(height)),
    na_mass = sum(is.na(mass)),
    na_homeworld = sum(is.na(homeworld))
  )

Rows: 87
Columns: 14
$ name       <chr> "Luke Skywalker", "C-3PO", "R2-D2", "Darth Vader", "Leia Or…
$ height     <int> 172, 167, 96, 202, 150, 178, 165, 97, 183, 182, 188, 180, 2…
$ mass       <dbl> 77.0, 75.0, 32.0, 136.0, 49.0, 120.0, 75.0, 32.0, 84.0, 77.…
$ hair_color <chr> "blond", NA, NA, "none", "brown", "brown, grey", "brown", N…
$ skin_color <chr> "fair", "gold", "white, blue", "white", "light", "light", "…
$ eye_color  <chr> "blue", "yellow", "red", "yellow", "brown", "blue", "blue",…
$ birth_year <dbl> 19.0, 112.0, 33.0, 41.9, 19.0, 52.0, 47.0, NA, 24.0, 57.0, …
$ sex        <chr> "male", "none", "none", "male", "female", "male", "female",…
$ gender     <chr> "masculine", "masculine", "masculine", "masculine", "femini…
$ homeworld  <chr> "Tatooine", "Tatooine", "Naboo", "Tatooine", "Alderaan", "T…
$ species    <chr> "Human", "Droid", "Droid", "Human", "Human", "Human", "Huma…
$ films      <list> <"A New Hope", "The Empire Strikes Back", "Return of the J…
$ vehicles   <list> <"Snowspeeder", "Imperial Speeder Bike">, <>, <>, <>, "Imp…
$ starships  <list> <"X-wing", "Imperial shuttle">, <>, <>, "TIE Advanced x1",…

Number of Observations: 87
Number of Variables: 14

  na_height na_mass na_homeworld
1 6         28      10

**Q2 — Create a Wide Summary Table (pivot_wider) (7 points)**
- Filter the dataset to include only characters with non-missing species.
- Group the data by species and gender.
- Compute the mean height for each group.
- Use pivot_wider() so that:
  - rows represent species
  - columns represent gender
  - values are mean height
- Display the resulting table.

In [35]:
wide_table <- starwars %>%
  filter(!is.na(species)) %>%   # Filter non-missing species
  group_by(species, gender) %>% # Group by species and gender
  summarise(mean_height = mean(height, na.rm = TRUE), .groups = "drop") %>% # Compute mean height
  pivot_wider(names_from = gender, values_from = mean_height) # Pivot wider

wide_table

   species        masculine feminine
1  Aleena          79.0000        NA
2  Besalisk       198.0000        NA
3  Cerean         198.0000        NA
4  Chagrian       196.0000        NA
5  Clawdite             NA  168.0000
6  Droid          140.0000   96.0000
7  Dug            112.0000        NA
8  Ewok            88.0000        NA
9  Geonosian      183.0000        NA
10 Gungan         208.6667        NA
11 Human          182.3913  163.5714
12 Hutt           175.0000        NA
13 Iktotchi       188.0000        NA
14 Kaleesh        216.0000        NA
15 Kaminoan       229.0000  213.0000
16 Kel Dor        188.0000        NA
17 Mirialan             NA  168.0000
18 Mon Calamari   180.0000        NA
19 Muun           191.0000        NA
20 Nautolan       196.0000        NA
21 Neimodian      191.0000        NA
22 Pau'an         206.0000        NA
23 Quermian       264.0000        NA
24 Rodian         173.0000        NA
25 Skakoan        193.0000        NA
26 Sullustan      160.0000        NA
27 Tholothian           NA  184.0000
28 Togruta              NA  178.0000
29 Toong          163.0000        NA
30 Toydarian      137.0000        NA
31 Trandoshan     190.0000        NA
32 Twi'lek        180.0000  178.0000
33 Vulptereen      94.0000        NA
34 Wookiee        231.0000        NA
35 Xexto          122.0000        NA
36 Yoda's species  66.0000        NA
37 Zabrak         173.0000        NA

**Q3 — Convert Wide Table Back to Long Format (pivot_longer) (6 points)**

Using the table created in Question 2:
- Apply pivot_longer() to convert the gender columns back into:
  - a column named gender
  - a column named mean_height
- Remove rows with missing mean_height.
Display the resulting tidy dataset.

In [40]:
long_table <- wide_table %>%
  # use pivot longer
  pivot_longer(
    cols = -species, # Keep species, pivot everything else (the genders)
    names_to = "gender",
    values_to = "mean_height"
  ) %>%
  # Remove rows with missing mean_height
  filter(!is.na(mean_height))

long_table

   species        gender    mean_height
1  Aleena         masculine  79.0000
2  Besalisk       masculine 198.0000
3  Cerean         masculine 198.0000
4  Chagrian       masculine 196.0000
5  Clawdite       feminine  168.0000
6  Droid          masculine 140.0000
7  Droid          feminine   96.0000
8  Dug            masculine 112.0000
9  Ewok           masculine  88.0000
10 Geonosian      masculine 183.0000
11 Gungan         masculine 208.6667
12 Human          masculine 182.3913
13 Human          feminine  163.5714
14 Hutt           masculine 175.0000
15 Iktotchi       masculine 188.0000
16 Kaleesh        masculine 216.0000
17 Kaminoan       masculine 229.0000
18 Kaminoan       feminine  213.0000
19 Kel Dor        masculine 188.0000
20 Mirialan       feminine  168.0000
21 Mon Calamari   masculine 180.0000
22 Muun           masculine 191.0000
23 Nautolan       masculine 196.0000
24 Neimodian      masculine 191.0000
25 Pau'an         masculine 206.0000
26 Quermian       masculine 264.0000
27 Rodian         masculine 173.0000
28 Skakoan        masculine 193.0000
29 Sullustan      masculine 160.0000
30 Tholothian     feminine  184.0000
31 Togruta        feminine  178.0000
32 Toong          masculine 163.0000
33 Toydarian      masculine 137.0000
34 Trandoshan     masculine 190.0000
35 Twi'lek        masculine 180.0000
36 Twi'lek        feminine  178.0000
37 Vulptereen     masculine  94.0000
38 Wookiee        masculine 231.0000
39 Xexto          masculine 122.0000
40 Yoda's species masculine  66.0000
41 Zabrak         masculine 173.0000

**Q4 — Create New Variables and Handle Missing Data (6 points)**

- From the original dataset, create a new variable:
BMI=(height/100)2mass​

- Categorize height into:
  - short (<170 cm)
  - average (170–189 cm)
  - tall (≥190 cm)

- Replace missing homeworld values with "Unknown".

Show glimpse() of the resulting dataset.

In [41]:
starwars_updated <- starwars %>%
  # Create new variable (BMI) using mutate
  mutate(BMI = mass / (height / 100)^2) %>%
  # Categorize height
  mutate(height_cat = case_when(
    height < 170 ~ "short",
    height >= 170 & height < 190 ~ "average",
    height >= 190 ~ "tall"
  )) %>%
  # Replace missing homeworld
  mutate(homeworld = replace_na(homeworld, "Unknown"))

glimpse(starwars_updated)

Rows: 87
Columns: 16
$ name       <chr> "Luke Skywalker", "C-3PO", "R2-D2", "Darth Vader", "Leia Or…
$ height     <int> 172, 167, 96, 202, 150, 178, 165, 97, 183, 182, 188, 180, 2…
$ mass       <dbl> 77.0, 75.0, 32.0, 136.0, 49.0, 120.0, 75.0, 32.0, 84.0, 77.…
$ hair_color <chr> "blond", NA, NA, "none", "brown", "brown, grey", "brown", N…
$ skin_color <chr> "fair", "gold", "white, blue", "white", "light", "light", "…
$ eye_color  <chr> "blue", "yellow", "red", "yellow", "brown", "blue", "blue",…
$ birth_year <dbl> 19.0, 112.0, 33.0, 41.9, 19.0, 52.0, 47.0, NA, 24.0, 57.0, …
$ sex        <chr> "male", "none", "none", "male", "female", "male", "female",…
$ gender     <chr> "masculine", "masculine", "masculine", "masculine", "femini…
$ homeworld  <chr> "Tatooine", "Tatooine", "Naboo", "Tatooine", "Alderaan", "T…
$ species    <chr> "Human", "Droid", "Droid", "Human", "Human", "Human", "Huma…
$ films      <list> <"A New Hope", "The Empire Strikes Back", "Return of the J…
$ vehicles   <list> <"Snowspeeder", "Imperial Speeder Bike">, <>, <>, <>, "Imp…
$ starships  <list> <"X-wing", "Imperial shuttle">, <>, <>, "TIE Advanced x1",…
$ BMI        <dbl> 26.02758, 26.89232, 34.72222, 33.33007, 21.77778, 37.87401,…
$ height_cat <chr> "average", "short", "short", "tall", "short", "average", "s…

**Q5 — Unnesting and Interpretation (6 points)**

- Select name and films.
- Convert the films list-column into long format.
- Count the number of film appearances per character.
- Display the top 8 characters with the most appearances.
- In 2–3 sentences, explain why this data must be converted to long format.

In [39]:
# Processing the list-column
top_characters <- starwars %>%
  select(name, films) %>% # Get the character names and films
  unnest(films) %>% # Convert list-column of films to long format
  count(name, sort = TRUE) %>% # Calculate the number of characters since each film has its own row
  slice_head(n = 8)

top_characters

  name           n
1 R2-D2          7
2 C-3PO          6
3 Obi-Wan Kenobi 6
4 Chewbacca      5
5 Leia Organa    5
6 Luke Skywalker 5
7 Palpatine      5
8 Yoda           5

This data must be converted to long format because the films column is a "list-column" containing multiple values for a single observation, which prevents direct calculation. By unnesting into a long format, each character-film pairing becomes its own row, allowing standard functions like count() to accurately aggregate the data.